---

services:
  app:
    build: .
    image: ghcr.io/berkeleylibrary/dvuploader:${USER:-default}-development
    volumes:
      - /srv/da:/opt/app/da:ro
      - /srv/dataverse-prod-scratch/etl/dvuploader-tmp:/tmp
      - /srv/dataverse-prod-scratch/etl/processing:/opt/app/dataverse:ro